@page
@model Lab10Model
@{
    ViewData["Title"] = "Lab 10";
}



<h1>Lab 10</h1>
<hr />


  <div class="row">
    <div class="col-4 border border-primary">
      <form method="post">
        <div class="form-group">
          <label asp-for="FirstName" >First Name</label>
          <input asp-for="FirstName" class="form-control">
          <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="LastName" >Last Name</label>
          <input asp-for="LastName" class="form-control">
          <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="CreditCard" >CreditCard</label>
          <input asp-for="CreditCard" class="form-control">
          <span asp-validation-for="CreditCard" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <div class="col-8 border border-warning">
      <img src="img\IMG_1260.JPG" height = "400" width = "400">
    </div>
  </div>



  <div class="row">
    <div class="col-4 border border-primary">
      <div>
      
          <p>
          @Model.FirstName
          </p>  

          <p>
          @Model.LastName
          </p>       
        
      </div>
    </div>
    <div class="col-2 border border-primary">
      Column 2
    </div>
    <div class="col-4 border border-info">
      Column 3
    </div>
  </div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
